{% extends "frutas/base.html" %}

{% block contenido %}
<h1 class="row justify-content-md-center my-2">Perfil de usuario</h1>

    


    {% if por_completar_list %}
        <div class="alert alert-danger" role="alert">
            <span>porfavor completa los siguientes datos faltantes</span>
            <ul>
                {%for i in por_completar_list %}
                    <li>{{i}}</li>
                {% endfor %}
            </ul>
        </div>
        
        
    {% endif %}
    {% if usuario_conectado %}
        <form class="my-4 post-form" action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="{{usuario_conectado.nombre}}">                
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Foto perfil  <a href="{% url 'frutas1:actualizar_foto' %}"><span class="badge rounded-pill  bg-dark">actualizar foto </span></a> </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="{{usuario_conectado.imagen_avatar}}" disabled>                
            </div>

            <select name="genero" class="form-select form-control form-select-md mb-3" aria-label=".form-select-lg example" >
                {% if usuario_conectado.genero %}
                    <option value="{{usuario_conectado.genero.id}}" selected>{{usuario_conectado.genero}} </option>
                {% else %}
                    <option value="" selected>Seleccione Genero </option>
                {% endif %}
                {% for s in genero_list %}   
                    {% if s != usuario_conectado.genero %} 
                        <option value="{{s.id}}">{{s.titulo}}</option> 
                    {% endif %}
                {% endfor %}
                
            </select>

            <select name="region" class="form-select form-control form-select-md mb-3" aria-label=".form-select-lg example" >
                {% if usuario_conectado.region %}
                    <option value="{{usuario_conectado.region.id}}" selected>{{usuario_conectado.region}} </option>
                {% else %}
                    <option value="" selected>Seleccione Region </option>
                {% endif %}
                {% for s in regiones_list %}    
                    {% if s != usuario_conectado.region %} 
                        <option value="{{s.id}}">{{s.nombre}}</option> 
                    {% endif %}            
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-warning">Guardar</button>
            <!-- Button trigger modal -->
            <button type="button"  class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Borrar cuenta
            </button>
        </form> 

    {% else %}
        no hay usuario conectado
    {% endif %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">      
        Se borraran todos los datos de la cuenta para siempre, esta accion no se puede deshacer.<br> ¿desea continuar?
      </div>
      <div class="modal-footer">
             <form class="my-4 post-form" action="" method="POST">
                {% csrf_token %}                  
                <input type="hidden"  name="id_usuario" value="{{usuario_conectado.id}}">  
                <input type="hidden"  name="accion" value="eliminar_usuario">
               
                    <button type="submit" class="btn btn-outline-danger">Borrar cuenta</button>             
            </form>        
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>





{% endblock %}



